@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rowdies&display=swap');

$pri-text-color: rgb(240, 234, 234);
$sec-text-color: rgb(248, 195, 96);
$pri-color:rgb(15,18,26);
$pri-color-lighter: rgb(19, 22, 32);

::selection {
    background: $sec-text-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: $pri-color !important;
}

.navigation-arrow {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: rgb(8, 9, 10);
    color: white;
    position: fixed;
    z-index: 2;
    bottom: 20px;
    right: 20px;
    transition: 0.4s;
}
.navigation-arrow:hover {
    background-color: $sec-text-color;
    color: black;
}

.nav-image {
    height: 400px;
    background-image: url(../images/night-sky.jpg);
    background-size: cover;

    .nav {
        .nav-active {
            transform: translate(0%);
        }
        .nav-title {
          display: flex;
          text-decoration: none;
          margin-top: 15px;
          margin-left: 40px;
          h1 {
          font-family: 'Rowdies', sans-serif;
          color: $sec-text-color;
          text-decoration: none;
          font-size: 40px;
          margin-top: 25px;
      }
          .hexagon-icon {
              background-image: url(../images/nares-logo.png);
              background-size: cover;
              width: 70px;
              height: 80px;
          }
      }
          .nav-links {
              display: flex;
              list-style-type: none;
              position: absolute;
              right: 0px;
              top: 55px;
  
              li {
                  margin-right: 80px;
                  a {
                      text-decoration: none;
                      color: $pri-text-color;
                  }
                  a:hover {
                      color: $sec-text-color;
                  }
              }
              .dropdown:hover .dropdown-content {
                  display: flex;
                  transition: 0.2s;
              }
              .dropdown-content {
                  color: $sec-text-color;
                  list-style-type: none;
                  position: absolute;
                  background-color: $pri-color;
                  right: 20px;
                  top: 20px;
                  height: 40px;
                  border-radius: 50px;
                  border: 1px solid $pri-text-color;
                  display: none;
                  transition: 0.2s;
  
                  li {
                      margin-top: 10px;
                      margin-left: 40px;
                  }
              }
          }
          @mixin hamburger-line-config {
            width: 20px;
            height: 2px;
            margin-top: 4px;
            background-color: $pri-text-color;
            transition: all 0.5s ease; 
        }
        .nav-hamburger {
            position: absolute;
            right: 30px;
            top: 55px;
            display: none;
             .hamburger-line1 {
                @include hamburger-line-config;
             }
             .hamburger-line2 {
                @include hamburger-line-config;    
             }
             .hamburger-line3 {
                @include hamburger-line-config;        
             }
        }
        .nav-hamburger:hover {
            cursor: pointer;
        }
        .toggleCl .hamburger-line1 {
            transform: rotate(-45deg) translate(-4px,5px);
          }
          .toggleCl .hamburger-line2 {
              opacity: 0;
          }
          .toggleCl .hamburger-line3 {
              transform: rotate(45deg) translate(-4px,-5px);
          }
      }

      .nav-helper {
        color: white;
        margin-top: 150px;
        margin-left: 50px;
      }
}

@mixin blog-image-config {
    background-size: cover;
    width: 600px;
    height: 300px;
    margin-left: 25px;
}

@mixin blog-hover-icon {
    .blog-hover-icon {
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba(15,18,26, 0.5);
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
        
        i {
            color: white;
        }  
    }
}

.blog-gallery {
    margin-top: 75px;
    height: 1400px;
    background-color: $pri-color;
    .blog-component {
        margin-top: 25px;
        .blog-image {
            background-image: url(../images/forest-path.jpg);
            @include blog-image-config;
            @include blog-hover-icon;
        }
        .blog-image:hover {
            cursor: pointer;
            .blog-hover-icon {
                display: flex;
            }
        }
        .blog-image2 {
            background-image: url(../images/forest-road.jpg);
            @include blog-image-config;
            @include blog-hover-icon;
        }
        .blog-image2:hover {
            cursor: pointer;
            .blog-hover-icon {
                display: flex;
            }
        }
        .blog-image3 {
            background-image: url(../images/forest.jpg);
            @include blog-image-config;
            @include blog-hover-icon;
        }
        
        .blog-image3:hover {
            cursor: pointer;
            .blog-hover-icon {
                display: flex;
            }
        }
        .blog-image4 {
            background-image: url(../images/gamepad.jpg);
            @include blog-image-config;
            @include blog-hover-icon;
        }
        .blog-image4:hover {
            cursor: pointer;
            .blog-hover-icon {
                display: flex;
            }
        }
        .blog-image5 {
            background-image: url(../images/grass.jpg);
            @include blog-image-config;
            @include blog-hover-icon;
        }
        .blog-image5:hover {
            cursor: pointer;
            .blog-hover-icon {
                display: flex;
            }
        }
        .blog-image6 {
            background-image: url(../images/keyboad.jpg);
            @include blog-image-config;
            @include blog-hover-icon;
        }
        .blog-image6:hover {
            cursor: pointer;
            .blog-hover-icon {
                display: flex;
            }
        }
        h3 {
            color: white;
            margin-left: 25px;
            margin-top: 25px;
        }
        h5 {
            margin-left: 25px;
            color: $sec-text-color;

            a {
                color: $sec-text-color;
                text-decoration: none;
            }
        }

    }
}

.footer {
    height: 400px;
    background-color: $pri-color-lighter;
    display: grid;
    place-items: center;
    .footer-title {
        display: flex;
        text-decoration: none;
        margin-right: 50px;
    h1 {
        font-family: 'Rowdies', sans-serif;
        color: $sec-text-color;
        text-decoration: none;
        font-size: 40px;
        margin-top: 25px;
    }
        .hexagon-icon {
            background-image: url(../images/nares-logo.png);
            background-size: cover;
            width: 70px;
            height: 80px;
        }
    }
}